{% extends "detail.html" %}
{% load static %}
{% block content %}
 <div class="container2">
    <div class="new_row">  
        <form action="{%url 'create'%}">
            <div class="form-group">
                <strong><label for="exampleFormControlInput1">title</label></strong>
                <input type="text" name="title"class="form-control"></div>
                <div class="form-group">
                  <strong><label for="exampleFormControlTextarea1" >content</label></strong>
                    <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            <div class="new_button"> <input type="submit" class="btn btn-outline-primary" value="제출하기"></div>
        </form>
    </div>
</div>
    {% endblock %}